extends ../layout

block styles
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css")
    script(src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")
    script(type="module" src="/js/home.js")
block content
    body
        .fila
            .columna-izquierda
                canvas#myPieChart

            .columna-centro
                button#totalIncomes() Ingresos: #{transactionsValues.totalIncome} €
                button#totalExpenses() Gastos: #{transactionsValues.totalExpense} €

            .columna-derecha
                form.formulario-filtros
                    div.campo
                        label Filtro:
                        select(id="tipo-filtro") 
                            option(value="dates" selected=(transactionsValues.filterType=='dates')) Por Fechas
                            option(value="monthly" selected=(transactionsValues.filterType=='monthly')) Mensual
                            option(value="yearly" selected=(transactionsValues.filterType=='yearly')) Anual
                    div#campoFechas
                        label Fecha desde:
                        input(type="date" id="fechaDesde" value=transactionsValues.startDate)
                        label Fecha hasta:
                        input(type="date" id="fechaHasta" value=transactionsValues.endDate)
                        button(id="buttonFilterDates" type="button") Filtrar
                    div#campoMensual(style="display: none;")
                        label Mes y Año:
                        input(type="month" id="fechaMensual" value=transactionsValues.year + '-' + transactionsValues.month)
                    div#campoAnual(style="display: none;")
                        label Año:
                        select(id="fechaAnual") 
                            each year in Array.from({ length: 31 }, (_, i) => 2020 + i)
                                option(value=year, selected=(year == transactionsValues.year)) #{year}
                    
                    

        .fila.inferior
            table#tabla-registros.tabla-registros
                thead
                    tr
                        th
                        th Título
                        th Cantidad
                        th Comentario
                        th Fecha
                        th Tipo
                        th
                tbody
                    if transactionsValues.transactions.length <= 0
                        tr
                            td
                            td
                            td 
                            td No hay registros
                            td 
                            td 
                            td
                    else
                        each transaction in transactionsValues.transactions
                            tr
                                td 
                                    i(class=`fa-solid transactionIcon`,data-type=transaction.type)

                                td #{transaction.title}             
                                
                                if transaction.amount < 0
                                    td(style="color: #ff0000;") #{transaction.amount} €
                                else
                                    td(style="color: #40dd28;") +#{transaction.amount} €
                                
                                td #{transaction.comment}

                                if transaction.dateTime
                                    td #{new Date(transaction.dateTime).toLocaleDateString('es-ES')}
                                else
                                    td No disponible

                                td #{transaction.type} 
                                td 
                                    if transaction.transactionType === 1
                                        button.boton-editar(onclick=`location.href='/income/${transaction.id}/update/'`)
                                            i(class="fas fa-edit")
                                    else  
                                        button.boton-editar(onclick=`location.href='/expense/${transaction.id}/update/'`)
                                            i(class="fas fa-edit")

        .modal#modalIncomes
            .modal-content
                span#modal-close-income() &times;
                h2 Detalle de Ingresos
                table#tabla-detalleTipoIngresos.tabla-detalleTipoIngresos
                    thead
                        tr
                            th
                            th
                            th
                    tbody
                        

        .modal#modalExpenses
            .modal-content
                span#modal-close-expense() &times;
                h2 Detalle de Gastos
                table#tabla-detalleTipoGastos.tabla-detalleTipoGastos
                    thead
                        tr
                            th
                            th
                            th
                    tbody
