extends ../layout

block content
    body.container
        .fila
            .columna-izquierda
                canvas#myPieChart

            .columna-centro
                button#totalIngresos(onclick="openModal('modalIngresos')") Total ingresos: #{totalIncome}€
                button#totalGastos(onclick="openModal('modalGastos')") Total gastos: #{totalExpense}€

            .columna-derecha
                form.formulario-filtros
                    div.campo
                        label Fecha desde:
                        input(type="date" name="fechaDesde")
                    div.campo
                        label Fecha hasta:
                        input(type="date" name="fechaHasta")
                    div.campo
                        label Tipo de gasto:
                        select(name="tipoGasto")
                            option(value="todos") Todos
                            option(value="gasto") Gasto
                            option(value="ingreso") Ingreso
                    button.boton-filtrar(type="submit") Filtrar

        .fila.inferior
            button.boton-nuevo(onclick="location.href='/nuevo'") +
            table#tabla-registros.tabla-registros
                thead
                    tr
                        th
                        th Título
                        th Cantidad
                        th Comentario
                        th Fecha
                        th Tipo
                        th
                tbody
                    each transaction in transactions
                        tr
                            td
                                i(class="fa-solid fa-car")
                            td #{transaction.title}
                            if transaction.amount < 0
                                td(style="color: #FF9B9B;") #{transaction.amount} €
                            else
                                td(style="color: #8FFFBE;")  #{transaction.amount} €
                            td #{transaction.comment}
                            td #{transaction.dateTime.toLocaleDateString('es-ES')}
                            td #{transaction.type}
                            td

        .modal#modalIngresos
            .modal-content
                span.modal-close(onclick="closeModal('modalIngresos')") &times;
                h2 Detalle de Ingresos
                table#tabla-detalleTipoIngresos.tabla-detalleTipoIngresos
                    thead
                        tr
                            th
                            th Tipo
                            th
                    tbody
                        

        .modal#modalGastos
            .modal-content
                span.modal-close(onclick="closeModal('modalGastos')") &times;
                h2 Detalle de Gastos
                p Aquí puedes añadir más detalles sobre los gastos.
