extends ../layout

block content
    body.container
        .fila
            .columna-izquierda
                canvas#myPieChart

            .columna-centro
                button#totalIncomes() Total ingresos: #{totalIncome}€
                button#totalExpenses() Total gastos: #{totalExpense}€

            .columna-derecha
                form.formulario-filtros
                    div.campo
                        label Fecha desde:
                        input(type="date" name="fechaDesde")
                        //-input(type="month" id="mesAnio" name="fechaDesde")
                    div.campo
                        label Fecha hasta:
                        input(type="date" name="fechaHasta")
                    button.boton-filtrar(type="submit") Filtrar

        .fila.inferior
            table#tabla-registros.tabla-registros
                thead
                    tr
                        th
                        th Título
                        th Cantidad
                        th Comentario
                        th Fecha
                        th Tipo
                        th
                tbody
                    if transactions.length <= 0
                        td(colspan="5") No hay registros
                        tr
                            td(colspan="7") No hay registros
                    else
                       each transaction in transactions
                        tr
                            td 
                                i(class=`fa-solid transactionIcon`,data-type=transaction.type)

                            td #{transaction.title}             
                            
                            if transaction.amount < 0
                                td(style="color: #FF9B9B;") #{transaction.amount} €
                            else
                                td(style="color: #8FFFBE;") #{transaction.amount} €
                            
                            td #{transaction.comment}

                            if transaction.dateTime
                               td #{new Date(transaction.dateTime).toLocaleDateString('es-ES')}
                            else
                                td No disponible

                            td #{transaction.type}
                            td 
                                button.boton-editar(onclick=`location.href='/editar/${transaction.id}'`)
                                    i(class="fas fa-edit")

        .modal#modalIncomes
            .modal-content
                span#modal-close-income() &times;
                h2 Detalle de Ingresos
                table#tabla-detalleTipoIngresos.tabla-detalleTipoIngresos
                    thead
                        tr
                            th
                            th
                            th
                    tbody
                        

        .modal#modalExpenses
            .modal-content
                span#modal-close-expense() &times;
                h2 Detalle de Gastos
                table#tabla-detalleTipoGastos.tabla-detalleTipoGastos
                    thead
                        tr
                            th
                            th
                            th
                    tbody
