extends ../layout

block styles
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css")
    script(src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")

block content
    body
        .fila
            .columna-izquierda
                canvas#myPieChart

            .columna-centro
                button#totalIncomes() Total ingresos: #{totalIncome}€
                button#totalExpenses() Total gastos: #{totalExpense}€

            .columna-derecha
                form.formulario-filtros
                    div.campo
                        label Fecha desde:
                        input(type="date" name="fechaDesde")
                        //-input(type="month" id="mesAnio" name="fechaDesde")
                    div.campo
                        label Fecha hasta:
                        input(type="date" name="fechaHasta")
                    button.boton-filtrar(type="submit") Filtrar

        .fila.inferior
            table#tabla-registros.tabla-registros
                thead
                    tr
                        th
                        th Título
                        th Cantidad
                        th Comentario
                        th Fecha
                        th Tipo
                        th
                tbody
                    if transactions.length <= 0
                        td(colspan="5") No hay registros
                        tr
                            td(colspan="7") No hay registros
                    else
                       each transaction in transactions
                        tr
                            td 
                                i(class=`fa-solid transactionIcon`,data-type=transaction.type)

                            td #{transaction.title}             
                            
                            if transaction.amount < 0
                                td(style="color: #FF9B9B;") #{transaction.amount} €
                            else
                                td(style="color: #8FFFBE;") #{transaction.amount} €
                            
                            td #{transaction.comment}

                            if transaction.dateTime
                                td #{new Date(transaction.dateTime).toLocaleDateString('es-ES')}
                            else
                                td No disponible

                            td #{transaction.type}
                            td 
                                button.boton-editar(onclick=`location.href='/editar/${transaction.id}'`)
                                    i(class="fas fa-edit")

        .modal#modalIncomes
            .modal-content
                span#modal-close-income() &times;
                h2 Detalle de Ingresos
                table#tabla-detalleTipoIngresos.tabla-detalleTipoIngresos
                    thead
                        tr
                            th
                            th
                            th
                    tbody
                        

        .modal#modalExpenses
            .modal-content
                span#modal-close-expense() &times;
                h2 Detalle de Gastos
                table#tabla-detalleTipoGastos.tabla-detalleTipoGastos
                    thead
                        tr
                            th
                            th
                            th
                    tbody
