extends ../layout

block content
    body.container
        .fila
            .columna-izquierda
                canvas#myPieChart

            .columna-centro
                h4#totalIngresos Total ingresos: #{totalIncome}€
                h4#totalGastos Total gastos: #{totalExpense}€
                
            .columna-derecha
                form.formulario-filtros
                    div.campo
                        label Fecha desde:
                        input(type="date" name="fechaDesde")
                    div.campo
                        label Fecha hasta:
                        input(type="date" name="fechaHasta")
                    div.campo
                        label Tipo de gasto:
                        select(name="tipoGasto")
                            option(value="todos") Todos
                            option(value="gasto") Gasto
                            option(value="ingreso") Ingreso
                    button.boton-filtrar(type="submit") Filtrar

        .fila.inferior
            button.boton-nuevo(onclick="location.href='/nuevo'") Nuevo
            table#tabla-registros.tabla-registros
                thead
                    tr
                        th
                        th Título
                        th Cantidad
                        th Comentario
                        th Fecha
                        th Tipo
                        th
                tbody
                    if transactions.length <= 0
                        tr
                            td(colspan="7") No hay registros
                    else
                        each transaction in transactions
                            tr
                                td
                                    i(class="fa-solid fa-car")
                                td #{transaction.title}
                                if transaction.amount < 0
                                    td(style="color: #FF9B9B;") #{transaction.amount} €
                                else
                                    td(style="color: #8FFFBE;")  #{transaction.amount} €
                                td #{transaction.comment}
                                td #{transaction.dateTime.toLocaleDateString('es-ES')}
                                td #{transaction.type}
                                td
                                    button.boton-editar(onclick=`location.href='/editar/${transaction.id}'`)
                                        i(class="fas fa-edit")
